# Secret data
**/secrets/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
secret.tfvars
terraform/server_public_ip
